@import '../../../config-css/variables.css';

:host{
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.pokemon {
 position: relative;
 display: flex;
 background: var(--branco);

 width: calc(49% - 2.5rem);
 height: calc((117/ 16) * 1rem);

 padding: calc((20/ 16) * 1rem);
 
 border-radius: calc((10/ 16) * 1rem);
 margin-top: calc((20/ 16) * 1rem);
 margin-bottom: calc((10/ 16) * 1rem);

 text-decoration: none;
 color: var(--primary-color);
}

.pokemon__status h2 {
    font-size: calc((22/ 16) * 1rem);
    font-style: italic;
    font-weight: 700;
    text-transform: capitalize;

    margin-bottom: calc((10/ 16) * 1rem);
}

.pokemon__status ul {
    display: flex;

    flex-direction: column;
}

.pokemon__status ul > li{
    background: var(--cinza);
    font-size: calc((10/ 16) * 1rem);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: calc((50/ 16) * 1rem);

    width: calc((60/ 16) * 1rem);
    margin-bottom: calc((5/ 16) * 1rem);
}

.pokemon__image {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc((90/ 16) * 1rem);
    width: calc((110/ 16) * 1rem);

    right: calc((20/ 16) * 1rem);
    bottom: calc((20/ 16) * 1rem);

    background: url('../../../assets/bg/background-list-pokemon.svg') no-repeat;
}

.pokemon__image img{
    width: calc((60/ 16) * 1rem);;
}