@import url('./config-css/variables.css');
@import url('./config-css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main {
    max-width: calc((600/ 16) * 1rem);
    margin: 0 auto;
    box-sizing: border-box;
}